<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.foryoudicodingkadesubtwo">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.activity.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".view.activity.DetailLeagueActivity"/>
        <activity android:name=".view.activity.DetailMatchPastActivity"/>
        <activity android:name=".view.activity.DetailMatchNextActivity"/>
        <activity android:name=".view.activity.DetailMatchFavoritesActivity"/>
        <activity android:name=".view.activity.DetailTeamFavoritesActivity"/>
        <activity android:name=".view.activity.DetailSearchActivity"/>
        <activity android:name=".view.activity.DetailTeamActivity"/>


    </application>

</manifest>